<template>
  <div>
    <h1>Hello</h1>
    <button @click="onPayClicked()">
      Pay
    </button>
    <button
      :disabled="state.user !== null"
      @click="onLoginClicked()"
    >
      Log in with Google
    </button>
    <button
      :disabled="state.user === null"
      @click="onSignOutClicked()"
    >
      Sign out
    </button>
    <div v-if="state.user">
      Hello {{ state.user.displayName }}
    </div>
  </div>
</template>

<script lang="ts">
import { inject } from 'vue';
import PiManager from '@managers/pi_manager';
import FirebaseManager from '@managers/firebase_manager';
import state from '@/state';

export default {
  setup() {
    const piManager: PiManager = inject('piManager');
    const firebaseManager: FirebaseManager = inject('firebaseManager');

    const onPayClicked = () => {
      piManager.createPayment(1, 'memo');
    };

    const onLoginClicked = async () => {
      await firebaseManager.signIn();
    };

    const onSignOutClicked = async () => {
      await firebaseManager.signOut();
    };

    const user = piManager.getUser();

    if (user) {
      firebaseManager.addDocument(`users/${user.user.uid}`, {
        name: user.user.username,
      });
    }

    return {
      onPayClicked,
      onLoginClicked,
      onSignOutClicked,
      firebaseManager,
      state,
    };
  },
};
</script>
